[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

server-id=21
log-bin=mysql-bin
binlog-format=ROW
relay-log=relay-bin
log-slave-updates=1
auto-increment-offset=1
auto-increment-increment=2

# 默认配置
port=3306
character-set-server=utf8mb4
default-storage-engine=innodb

# 错误日志路径
log-error=/var/log/mysql/error.log

# PID 文件路径
pid-file=/var/run/mysqld/mysqld.pid